@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100 text-gray-900 font-sans antialiased;
  }
  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #CBD5E1 transparent;
  }
}